
<form class="example-form">

    <mat-form-field class="example-full-width">
        <input [(ngModel)] = "name" name="name" matInput placeholder="Full Name">
        <mat-hint>Please Enter Your Name</mat-hint>
      </mat-form-field>


    <mat-form-field class="example-full-width">
      <input [(ngModel)] = "email" name="email" matInput placeholder="Email">
      <mat-hint>Please Enter Your Email</mat-hint>
    </mat-form-field>
    
    <p class="error" *ngIf = "error.code == 'auth/invalid-email'">{{error.message}}</p>


    <mat-form-field class="example-full-width">
        <input [(ngModel)] = "password" name="password" matInput placeholder="Password">
        <mat-hint>Please Enter Your Password</mat-hint>
      </mat-form-field>
     
      <p class="error" *ngIf = "error.code == 'auth/weak-password'">{{error.message}}</p>

  </form>
  <button mat-stroked-button color="primary" (click)="signup()">Signup</button>
