.example-form {
    min-width: 150px;
    max-width: 300px;
    width: 100%;
    margin-top: 5px
  }
  
  .example-full-width {
    width: 100%;
  }

.example-button-row button,
.example-button-row a {

  margin-top: 20px
}
.error {color:red}