<div class='user'>
  <input [(ngModel)]="user" type="text"> <button (click)="changeusers()">Enter</button>
</div>


<div>
    <ul>
      <todo *ngFor = "let todo of todos"
    [data] = "todo"
    (myButtonClicked)="showText($event)"></todo>
  </ul>
  </div>
  <div>
    this is the text from Todo component when you click on the button: {{todoTextFromTodo}}
  </div>