<div>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

    <mat-card-actions>
          <button *ngIf="!(authService.user | async)" mat-button (click) = "toLogin()">
            Login
          </button>
          <button *ngIf="authService.user | async" mat-button (click) = "toLogout()">
              Logout
            </button>
            <button *ngIf="authService.user | async" mat-button (click) = "toTodos()">
                My Todos
              </button>
          <button mat-button (click) = "toRegister()">
              Register
            </button>
            <button mat-button (click) = "toCodes()">
              Codes
            </button>
            <button mat-button (click) = "toUserTodos()">
                Other Todos
              </button>
    </mat-card-actions>
  </mat-card>
</div>
<div *ngIf="authService.user | async">
    <h1>Welcome {{(authService.user | async)?.displayName}}</h1>
</div>