<div>
  <!--simple array that we traded with the firebase array (down below)
  <ul>
    <li *ngFor = "let todo of todos">
     {{todo.text}}  -  {{todo.id}} 
    </li>

  </ul>
-->

<mat-form-field class="example-container">
  <mat-select placeholder="Status to Filter" [(value)]="ifStatus" (selectionChange)="toFilter()">
    <mat-option>All</mat-option>
    <mat-option *ngFor="let status of taskStatus" [value]="status">
      <span *ngIf = "status">Done</span>
      <span *ngIf = "!status">Not Done</span>
    </mat-option>
  </mat-select>
</mat-form-field> 
<mat-card-content>
    <br>
    <mat-card-subtitle class="sub2">
    Your current todo task :
    </mat-card-subtitle>
    <todo class="checkbox" *ngFor = "let todo of todos"
            [data] = "todo"
            (myButtonClicked) = "showText($event)">
    </todo>
    <div *ngIf = "todos.length == 0 " class="text"  >
        {{todoTextFromTodo}}
    </div> 
</mat-card-content>


<div>
    <mat-form-field class="example-half-width">
      <input [(ngModel)] = "text" matInput placeholder="Add Todo">
      <mat-hint>Please Enter Your Todo</mat-hint>
    </mat-form-field>
  </div>
  <button mat-stroked-button color="primary" (click)="addTodo()">Add</button>

</div>
<div>
  this is the text from Todo component when you click on the button: {{todoTextFromTodo}}
</div>